/* Adjusting search history height */
.history-panel {
    height: 80vh;
 
    overflow-y: auto;
    border-radius: 8px;
}

/* Aligning search bar properly */
.search-bar-container {
    padding: 10px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive spacing */
@media (max-width: 768px) {
    .search-bar-container {
        flex-direction: column;
    }
}
.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
@font-face {
    font-family: 'Evergreen Sans';
    src: url('fonts/EvergreenSans.woff2') format('woff2'),
         url('fonts/EvergreenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.edu {
    color:  #FF671F; /* Blue for "Edu" */
}

.north {
    color: #FFFFFF; /* Orange for "Northeast" */
}
.east{
color: #046A38;
}

   
